.App {
  text-align: center;
}
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(75, 97, 75);
  color: beige;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-links a {color: white;}

#singlepost{
  background-color: antiquewhite;
}
